.landingPageHeader_Logo{
    width: 3.125rem;
}

.navigationBar_NITRO{
    font-size: 2.063rem;
    margin: auto;
}

body {
    font-family: 'Open Sans';
    font-weight: 400;
    max-width: 1200px;
    margin: auto;
    border-left: 10px solid black;
    border-right: 10px solid black;
}

h1,h2 {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 3.75rem;
}

h3 {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 2.063rem;
}

nav,a {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1.313rem;
}

p {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1.125rem;  
}

button{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 1.313rem;
    background-color: #5BACC3;
    color: white;
    border: none;
}