.heroSection {
    width: 100%;
    height: 350px;
    background-image: url("../assets/images/coffee-circle.jpg");
    background-position: center;
    background-size: 70%;
    /* background-size: contain; */
    background-repeat: no-repeat;
    border: 3px solid red;
}

#menu {
    text-align: center;
    color: white;
    margin: 0;
    width: 150px;
    height: 100px;
    background-color: #393939;
}